@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">lỗi.</h1>
<h2 class="text-danger">Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Chế độ phát triển</h3>
<p>
    Hoán đổi sang môi trường <strong>Phát triển</strong> sẽ hiển thị thông tin chi tiết hơn về lỗi đã xảy ra.
</p>
<p>
    <strong>Môi trường phát triển không nên được kích hoạt trong các ứng dụng được triển khai</strong>, vì nó có thể dẫn đến thông tin nhạy cảm từ các ngoại lệ được hiển thị cho người dùng cuối. Để gỡ lỗi cục bộ, môi trường phát triển có thể được kích hoạt bằng cách đặt biến môi trường <strong>ASPNETCORE_ENVIRONMENT</strong> thành <strong>Phát triển</strong> và khởi động lại ứng dụng.
</p>
